<DOCKTYPE html>
    <html>
        <head>
            <title><b>My Favourite Sport</b></title>
            <h1><b>My Favourite Sport</b></h1>
<body>
    My favourite sports is playing Football. It consists of 11 players, includes following: <br>
<ul>
    <li>A Goalkeeper</li>
    <li>A Defender</li>
    <li>e.t.c</li> <br>
</ul>
In this game there are two teams consists of 11 players. There are two goal posts, one for each.<br>
Goalkeeper is the main who stops the ball to get in the goal post. Rest of 10 of both teams hits ball to through it in goal post.<br>
I like this game because this is the game which needs Patience amd Teamwork. If we talk about favourite player in international teams,<br>
so my favourite player is <b>Cristiano Ronaldo</b>. That's all about my favourite sports.     
</body>
        </head>
    </html>
</DOCKTYPE html>
